services:
    db:
        image: postgres
        restart: always
        ports:
            - "5432:5432"
        env_file:
            - ".env"
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_DEFAULT_DATABASE}
